**/.vs/

**/bin/

AssetStore/AssetStore.API/AppSettings/appsettings.Development.json
AssetStore/AssetStore.App/AppSettings/appsettings.Development.json
AssetStore/AssetStore.Core/AppSettings/appsettings.Development.json