@page

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class ="emailPage">
    
    <div id="main-content-container">
        <p id="main-text">
            Войти или<br>Зарегестрироваться
        </p>
        
        <input type="email"
                id="emailInput"
                placeholder="example@gmail.com"
                autocomplete="email">

        <button type="button" id="continueBtn">Продолжить</button>
    </div>        
    
</body>
</html>