@page
@model RentHub.App.Pages.MainFlatsModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная странимца</title>
    
</head>
<body >

    <div id="main-content-container">

    </div>
     
</body>
</html>
