*
{
    margin: 0;
    padding: 0;
    /*    -moz-appearance: none;
    -webkit-appearance: none;*/
}

:root {
    --text_color: #CBD5E1;
}

body {
    display: flex;
    margin: 0;
    background: linear-gradient(260deg, #0d1323, #0d1323, #162446);
}

#side-bar {
    width: 21vw;
    /*background-image: url("../img/side-bar/sideBarBG.svg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}

#main-text {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: var(--text_color);
}

.menu-item {
    display: flex;
    padding-left: 30px;
    gap: 10px;
    margin-top: 20px;
    color: var(--text_color);
}

.menu-item img {
    width: 30px;
    height: 30px;
}

.menu-item button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    color: var(--text_color);
    cursor: pointer;
}

.menu-item button:hover {
    text-decoration: underline;
}

#main-content-main-page {
    /*background-color: transparent;*/
    width: 79vw;
    background: linear-gradient(140deg, #0d1323, #162446, #162446);
}
.top-bar {
    background-image: url('../img/top bar.svg');
    height: 12vh;
    height: 10vh;
    background: url('../img/top bar.svg');
    display:flex;
    align-items:center;
    padding-left:25px;
    gap:20px;
    background-repeat: no-repeat;
}

.top-bar img {
    height: 40px;
}

.search-container {
    background-color: #060C1D;
}

.search-bar-container {
    padding-inline: 25px;
    padding-block: 20px;
}

.search-bar-container input {
    width: 98%;
    border-radius: 10px;
    height: 45px;
    font-size: 16px;
    background-color: #1E293B;
    border: none;
    padding-inline: 15px;
    color: var(--text_color);
}

::-webkit-input-placeholder {
    color: var(--text_color);
}

.filters-container {
    padding-inline: 25px;
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
}

.filters-container select {
    background-color: #1E293B;
    border: none;
    padding-inline: 15px;
    padding-block: 10px;
    padding-right: 40px;
    color: var(--text_color);
    border-radius: 10px;
    font-size: 16px;
    appearance: none;
    background-image: url(../img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 25px;
}

.flats-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
    gap: 30px;
    padding: 25px;
}

.flat-card {
    background-color: #334155;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: #3B82F6 0 0 10px 1px;
}

.flat-card img {
    display: flex;
    justify-self: center;
}

.flat-info-container p {
    color: var(--text_color);
    font-size: 18px;
    padding: 10px;
}

.flat-info-container p span {
    color: var(--text_color);
    font-size: 18px;
    font-weight: bold;
}

.no-flats {
    text-align: center;
    padding: 40px;
    color: var(--text_color);
    font-size: 16px;
}
